[submodule "pregex"]
	path = pregex
	url = https://github.com/insperatum/pregex
    branch = master
[submodule "pinn"]
	path = pinn
	url = https://github.com/insperatum/pinn
    branch = master
[submodule "pyccg"]
	path = pyccg
	url = https://github.com/hans/pyccg
	branch = master
